/*GENERAL*/

*
{
    scroll-behavior: smooth;
}

header {
    text-align: center;
}

body{
    margin-right: 15%;
}
main {
    margin-top: -70%;
}
nav{
    margin-top: -150px;
    float: right;
    height: 100%;
    width: 200px;right:10px;
    position: fixed;
    z-index: 1;
    overflow: hidden;
}
@media only screen and (max-width: 768px) {
    nav{
        margin-top: 0;
        float: left;
        height: auto;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
}
#logo{
    margin-right: 20px;
}
li {
    padding: 10px;
}


ul li {
    list-style: none;
    padding: 10px 20px;

}
ul li a {
    font-size: 28px;
    font-weight: bold;
    color: white;
    position: relative;

}

ul li a::before {
    content: "";
    width: 0;
    height: 10px;
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
}

/*HOVER*/

ul li a:hover::before {
    width: 50%;
    transform: translateX(100%);
}
.tooltip .toolTipTextLeft {
    display: none;
    visibility: hidden;
    width: 350%;
    background-color: white;
    color: black;
    text-align: justify;
    padding: 10px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    right: 50%;
    /* display: block; */
}
.tooltip:hover .toolTipTextLeft {
    visibility: visible;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .toolTipText {
    visibility: hidden;
    width: 350%;
    background-color: white;
    color: black;
    text-align: justify;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    display: block;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .toolTipText {
    visibility: visible;
}


/*GRID*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
@media only screen and (max-width: 768px) {
    .grid-container{
        grid-template-columns: 100%;
    }
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 270px;
    max-height: 270px;
    background-size: cover;
}
@media only screen and (max-width: 768px) {
    .grid-item{
        width: 100%;
    }
}
.grid-item:hover{
    border: solid red;

}

/*PARALLAX*/

:root {
    --scale: 0.1;
}

body {
    color: hsl(0, 0%, 95%);
    background-color: hsl(5, 15%, 5%);
    font-size: clamp(1.2rem, 5vw, 1.5rem);
}

.page-title {
    text-align: center;
}

.section {
    transform: scaleY(calc(1 - var(--scale))); /*PARALLAX EFFECT*/
}

.content {
    position: relative;
}

.image-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

.image-container img {

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;


    background: linear-gradient(
            to bottom,
            hsla(5, 15%, 5%, 0) 0%,
            hsla(5, 15%, 5%, 0.013) 8.1%,
            hsla(5, 15%, 5%, 0.049) 15.5%,
            hsla(5, 15%, 5%, 0.104) 22.5%,
            hsla(5, 15%, 5%, 0.175) 29%,
            hsla(5, 15%, 5%, 0.259) 35.3%,
            hsla(5, 15%, 5%, 0.352) 41.2%,
            hsla(5, 15%, 5%, 0.45) 47.1%,
            hsla(5, 15%, 5%, 0.55) 52.9%,
            hsla(5, 15%, 5%, 0.648) 58.8%,
            hsla(5, 15%, 5%, 0.741) 64.7%,
            hsla(5, 15%, 5%, 0.825) 71%,
            hsla(5, 15%, 5%, 0.896) 77.5%,
            hsla(5, 15%, 5%, 0.951) 84.5%,
            hsla(5, 15%, 5%, 0.987) 91.9%,
            hsl(5, 15%, 5%) 100%
    ), linear-gradient(to top,
            hsla(5, 15%, 5%, 0) 0%,
            hsla(5, 15%, 5%, 0.013) 8.1%,
            hsla(5, 15%, 5%, 0.049) 15.5%,
            hsla(5, 15%, 5%, 0.104) 22.5%,
            hsla(5, 15%, 5%, 0.175) 29%,
            hsla(5, 15%, 5%, 0.259) 35.3%,
            hsla(5, 15%, 5%, 0.352) 41.2%,
            hsla(5, 15%, 5%, 0.45) 47.1%,
            hsla(5, 15%, 5%, 0.55) 52.9%,
            hsla(5, 15%, 5%, 0.648) 58.8%,
            hsla(5, 15%, 5%, 0.741) 64.7%,
            hsla(5, 15%, 5%, 0.825) 71%,
            hsla(5, 15%, 5%, 0.896) 77.5%,
            hsla(5, 15%, 5%, 0.951) 84.5%,
            hsla(5, 15%, 5%, 0.987) 91.9%,
            hsl(5, 15%, 5%) 100%);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



