/*GENERAL*/

*
{
    scroll-behavior: smooth;
}

header {
    text-align: center;
}

body{
    margin-right: 15%;
}
main {
    margin-top: -70%;
}
nav{
    float: right;
    height: 100%;
    width: 200px;right:10px;
    position: fixed;
    z-index: 1;
    overflow: hidden;

}




li {
    padding: 10px;
    list-style: none;
}


ul li {
    list-style: none;
    padding: 10px 20px;

}
ul li a {
    font-size: 28px;
    font-weight: bold;
    color: white;
    position: relative;

}

ul li a::before {
    content: "";
    width: 0;
    height: 10px;
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
}

/*HOVER*/

ul li a:hover::before {
    width: 50%;
    transform: translateX(100%);
}
.tooltip .tooltiptextLeft {
    visibility: hidden;
    width: 350%;
    background-color: white;
    color: black;
    text-align: justify;
    padding: 10px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    /*top: -5px;*/
    right: 50%;
    /*display: block;*/
}
.tooltip:hover .tooltiptextLeft {
    visibility: visible;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 350%;
    background-color: white;
    color: black;
    text-align: justify;
    padding: 10px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    display: block;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}





/*GRID*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 270px;
    max-height: 270px;
    background-size: cover;
}
.grid-item:hover{
    border: solid red;

}

/*PARALLAX*/

:root {
    --scale: 0.1;
}

body {
    color: hsl(0, 0%, 95%);
    background-color: hsl(5, 15%, 5%);
    font-size: clamp(1.2rem, 5vw, 1.5rem);
}

.page-title {
    text-align: center;
}

.section {
    transform: scaleY(calc(1 - var(--scale))); /*PARALLAX EFFECT*/
}

.content {
    position: relative;
}

.image-container {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.image-container img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-right: 150px;
    height: 100%;
    object-fit: cover;
}

.image-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;


    background: linear-gradient(
            to bottom,
            hsla(5, 15%, 5%, 0) 0%,
            hsla(5, 15%, 5%, 0.013) 8.1%,
            hsla(5, 15%, 5%, 0.049) 15.5%,
            hsla(5, 15%, 5%, 0.104) 22.5%,
            hsla(5, 15%, 5%, 0.175) 29%,
            hsla(5, 15%, 5%, 0.259) 35.3%,
            hsla(5, 15%, 5%, 0.352) 41.2%,
            hsla(5, 15%, 5%, 0.45) 47.1%,
            hsla(5, 15%, 5%, 0.55) 52.9%,
            hsla(5, 15%, 5%, 0.648) 58.8%,
            hsla(5, 15%, 5%, 0.741) 64.7%,
            hsla(5, 15%, 5%, 0.825) 71%,
            hsla(5, 15%, 5%, 0.896) 77.5%,
            hsla(5, 15%, 5%, 0.951) 84.5%,
            hsla(5, 15%, 5%, 0.987) 91.9%,
            hsl(5, 15%, 5%) 100%
    ), linear-gradient(to top,
            hsla(5, 15%, 5%, 0) 0%,
            hsla(5, 15%, 5%, 0.013) 8.1%,
            hsla(5, 15%, 5%, 0.049) 15.5%,
            hsla(5, 15%, 5%, 0.104) 22.5%,
            hsla(5, 15%, 5%, 0.175) 29%,
            hsla(5, 15%, 5%, 0.259) 35.3%,
            hsla(5, 15%, 5%, 0.352) 41.2%,
            hsla(5, 15%, 5%, 0.45) 47.1%,
            hsla(5, 15%, 5%, 0.55) 52.9%,
            hsla(5, 15%, 5%, 0.648) 58.8%,
            hsla(5, 15%, 5%, 0.741) 64.7%,
            hsla(5, 15%, 5%, 0.825) 71%,
            hsla(5, 15%, 5%, 0.896) 77.5%,
            hsla(5, 15%, 5%, 0.951) 84.5%,
            hsla(5, 15%, 5%, 0.987) 91.9%,
            hsl(5, 15%, 5%) 100%);
}








