nav{
    position:fixed;
    float:left;
    height: 100%;
    width: 150px;
    right: 0px;
    background-color: bisque;
}


main {
    padding-left: 170px;
    padding-top: 70px;
}

.grid-container {
    position: relative;
    left: 0px;
}

