nav{
    position:fixed;
    float:left;
    height: 100%;
    width: 150px;
    right: 10px;
    background-color: bisque;
}


main {
    padding-right: 150px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
li:hover{
    background-color: grey;
}
