/*Bootstrap login menu styles*/

body {
    background-color: wheat;
}

nav {
    background-image: url("Images/backround.jpg");
    color: #fff;
    padding: 30px 60px; /*30 top/bottom & 60 left/right*/
    display: flex;
    justify-content: space-between; /*puts elements on nav on different corners*/
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none; /*removes all dots on nav*/
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

/*when hovering over anchor elements*/
nav li a:hover {
    color: yellow;
    text-decoration: none;
}

.backToHome {
    box-sizing: border-box;
}
